<img class="mascot"
     src="/img/laptop.png"
     alt="EntwickelBar Maskottchen">

<h4>Wann?</h4>
<p>Die nächste EntwickelBar kommt am <strong>24.11.2018</strong></p>
<!--<a class="btn btn-lg btn-link" href="https://www.meetup.com/de-DE/rheinJUG/events/248885154/">Anmeldung</a> -->

<hr>

<h4>Wo?</h4>
<p>
  Heinrich-Heine-Universität<br>
  Gebäude 25<br>
  Universitätsstr. 1<br>
  40225 Düsseldorf<br>
  <a class="btn btn-lg btn-link"
     href="https://www.google.de/maps/dir//51.1885533,6.7963252/@51.1884147,6.7967137,19.58z">Karte anzeigen</a>
</p>

<hr>

<h4>
  Vorherige Versionen
</h4>

<h5>
  <a href="/2018/05">EntwickelBar 2.0</a>
</h5>
<p>
  Die EntwickelBar 2.0 war schon ein wenig größer, viele spannende Themen sind zusammengekommen. Ein paar Bilder und
  Texte <a href="/2018/05">findet ihr hier</a>.
</p>
<h5>
  <a href="/2017">EntwickelBar 1.0</a>
</h5>
<p>
  2017 hat die EntwickelBar zum ersten Mal stattgefunden. Einige Bilder und unsere
  Agenda aus dem letzten Jahr <a href="/2017">findet ihr hier</a>.
</p>

<hr>

<p>
  <a href="https://twitter.com/EntwickelBar">
    <img src="img/twitter.svg" alt="" style="width: 1em; margin-right: 0.3em;">EntwickelBar
  </a>
</p>

<p>
  <a href="http://www.rheinjug.de/">
    <img class="sponsoring-sidebar" src="img/sponsoring/RheinJUGLogo250.png" alt="">
  </a>
</p>
<p>
  <a href="https://www.innoq.com/de/">
    <img class="sponsoring-sidebar" src="img/sponsoring/innoq.gif" alt="">
  </a>
</p>
<p>
  <a href="https://www.valtech.de/">
    <img class="sponsoring-sidebar" src="img/sponsoring/valtech.png" alt="">
  </a>
</p>
<p>
  <a href="http://hhu.de">
    <img class="sponsoring-sidebar" src="img/sponsoring/unilogo.svg" alt="">
  </a>
</p>
