<img class="mascot"
     src="/img/laptop.png"
     alt="EntwickelBar Maskottchen">

<h4>Wann?</h4>
<p>Die nächste EntwickelBar kommt am 26.5.2018</p>
<a href="https://www.meetup.com/de-DE/rheinJUG/events/248885154/">Anmeldung</a>

<h4>Wo?</h4>
<p>
  Heinrich-Heine-Universität<br>
  Gebäude 25<br>
  Universitätsstr. 1<br>
  40225 Düsseldorf<br>
  <a href="https://www.google.de/maps/dir//51.1885533,6.7963252/@51.1884147,6.7967137,19.58z">Karte anzeigen</a>
</p>

<p>
  <a href="https://twitter.com/EntwickelBar">
    <img src="img/twitter.svg" alt="" style="width: 1em; margin-right: 0.3em;">EntwickelBar
  </a>
</p>

<p>
  <a href="http://www.rheinjug.de/">
    <img class="sponsoring-sidebar" src="img/sponsoring/RheinJUGLogo250.png" alt="">
  </a>
</p>
<p>
  <a href="https://www.innoq.com/de/">
    <img class="sponsoring-sidebar" src="img/sponsoring/innoq.png" alt="">
  </a>
</p>
<p>
  <a href="https://www.valtech.de/">
    <img class="sponsoring-sidebar" src="img/sponsoring/valtech.png" alt="">
  </a>
</p>
<p>
  <a href="http://hhu.de">
    <img class="sponsoring-sidebar" src="img/sponsoring/unilogo.svg" alt="">
  </a>
</p>
    